

nav{
    display: flex;
    justify-content: space-between;

}

a{
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 5px;
    

}
.login-container{
    display: flex;
    justify-content: center;
    align-content: center;
    

}
.login-form{
    display: flex;
    flex-direction: column;
    
    
}
.login-form input,button{
    margin-top: 10px;
    font-size: 1.3em;
    border:1px solid lightpink ;
    border-radius: 10px;
    color: ;
}